body{
    height: 100vh;
    /* background-color: rgba(122, 216, 146, 0.596); */
    background-color: rgba(237, 238, 203, 0.719);
    box-sizing: border-box;
    max-width: 34em;
    margin-left: auto;
    margin-right: auto;
}

.container {
    display: flex;
    flex-direction: row;
}

#header, #body {
    justify-content: center;  
}

h1 {
    font-weight: 400;
font-size: 49px;
margin-top: 40px;
margin-bottom: 10px;
line-height: 60px;
border-bottom: 1px solid silver;
padding-bottom: 10px;
}

#name {
    font-weight: 500;
}

#header {
    font-size: 38px;
    font-weight: 400;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Ubuntu', sans-serif; 
}

#body {
    font-size: 28px;
    font-weight: 400;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 28px;
    text-align: center;
    line-height: 30px;
}


#linkHead {
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    font-size: 24px;
    text-align: center;
    margin-bottom: 28px;
    line-height: 30px;
}

#links {
    justify-content: center;
    font-size: 24px;
    letter-spacing: 0.1mm;
}

#contact {
    justify-content: center;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}

#extras {
    flex-direction: column;
    align-items: center;
}

#footer {
    justify-content: center;
    background: grey;
    color: white;
    height: 2em;

margin-top: 10px;

padding-top: 10px;
}

i {
    color: rgb(6, 0, 7);
    margin: 6px;
    font-size: 32px;
}

#git:hover {
    opacity: 0.5;
}

p, a {
    font-family: 'Roboto', sans-serif;
}

li {
    margin-bottom: 8px;
}

img {
    margin: 20px;
    border-radius: 5%;
    width: 150px;
    height: 200px;
    border: 1px solid grey;
}

hr {
    opacity: 0.5;
    margin: 15px;
}

.gitCard {
    width: 400px;
    height: 250px;
}

a:link, a:visited {
    color: blue;
}

@media only screen and (max-width: 375px) {
    .gitCard {
        width: 200px;
        height: 125px;
}
    }
    @media only screen and (max-width: 490px) {
        .gitCard {
            width: 300px;
            height: 187px;
    }
        }